
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img  class="" *ngFor="let image of data"src="{{image['image1']}}" alt=""  class="img-fluid rounded">
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder"  *ngFor="let d of data">{{d["name1"]}}</h5>
                                    <!-- Product price-->
                                    <span  *ngFor="let d of data">{{d["price1"]}}</span>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="mt-2 px-2"> <small *ngFor="let d of data">{{d["Description1"]}}</small> </div>
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                            </div>
                            
                        </div>
                    </div>
  
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                            <!-- Product image-->
                            <img  class="" *ngFor="let image of data"src="{{image['image2']}}" alt=""  class="img-fluid rounded">
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder"  *ngFor="let d of data">{{d["name2"]}}</h5>
                                    <!-- Product reviews-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <!-- Product price-->
                                    <span class="text-muted text-decoration-line-through">$38</span><br>
                                    <span  *ngFor="let d of data">{{d["price2"]}}</span>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="mt-2 px-2"> <small *ngFor="let d of data">{{d["Description2"]}}</small> </div>
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                            <!-- Product image-->
                            <img  class="" *ngFor="let image of data"src="{{image['image3']}}" alt=""  class="img-fluid rounded">
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder"  *ngFor="let d of data">{{d["name3"]}}</h5>
                                    <!-- Product price-->
                                    <span class="text-muted text-decoration-line-through">$28</span><br>
                                    <span  *ngFor="let d of data">{{d["price3"]}}</span>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="mt-2 px-2"> <small *ngFor="let d of data">{{d["Description3"]}}</small> </div>
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img  class="" *ngFor="let image of data"src="{{image['image4']}}" alt=""  class="img-fluid rounded">
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder"  *ngFor="let d of data">{{d["name4"]}}</h5>
                                    <!-- Product reviews-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <!-- Product price-->
                                    <span  *ngFor="let d of data">{{d["price4"]}}</span>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="mt-2 px-2"> <small *ngFor="let d of data">{{d["Description4"]}}</small> </div>
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                            <!-- Product image-->
                            <img  class="" *ngFor="let image of data"src="{{image['image5']}}" alt=""  class="img-fluid rounded">
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder"  *ngFor="let d of data">{{d["name5"]}}</h5>
                                    <!-- Product price-->
                                    <span class="text-muted text-decoration-line-through">$65</span><br>
                                    <span  *ngFor="let d of data">{{d["price5"]}}</span>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="mt-2 px-2"> <small *ngFor="let d of data">{{d["Description5"]}}</small> </div>
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img  class="" *ngFor="let image of data"src="{{image['image6']}}" alt=""  class="img-fluid rounded">
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder"  *ngFor="let d of data">{{d["name6"]}}</h5>
                                    <!-- Product price-->
                                    <span  *ngFor="let d of data">{{d["price6"]}}</span>
                                </div>
                            </div>
                            
                            <!-- Product actions-->
                            <div class="mt-2 px-2"> <small *ngFor="let d of data">{{d["Description6"]}}</small> </div>
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                            <!-- Product image-->
                            <img  class="" *ngFor="let image of data"src="{{image['image7']}}" alt=""  class="img-fluid rounded">
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder"  *ngFor="let d of data">{{d["name7"]}}</h5>
                                    <!-- Product reviews-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <!-- Product price-->
                                    <span class="text-muted text-decoration-line-through">$100</span><br>
                                    <span  *ngFor="let d of data">{{d["price7"]}}</span>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="mt-2 px-2"> <small *ngFor="let d of data">{{d["Description7"]}}</small> </div>
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img  class="" *ngFor="let image of data"src="{{image['image8']}}" alt=""  class="img-fluid rounded">
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder"  *ngFor="let d of data">{{d["name8"]}}</h5>
                                    <!-- Product reviews-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <!-- Product price-->
                                    <span  *ngFor="let d of data">{{d["price8"]}}</span>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="mt-2 px-2"> <small *ngFor="let d of data">{{d["Description8"]}}</small> </div>
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
          <!-- Footer-->
          <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Contact me: christkhoury87@gmail.com</p></div>
        </footer>