<!-- <section id="hero" class="container d-flex align-items-center justify-content-lg-between">
    <div class="container" data-aos="">

      <div class="" data-aos="fade-up" data-aos-delay="150">
        <div class="">
          <h2 class="h2">Boustany technologie <span>.</span></h2>
          <h2 class="h2">Internet Accessories store<span>.</span></h2>

        </div>
      </div>
    </div>
  </section End Hero -->  
  
  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12 text-center">
          <!-- <h1 class="fw-light">Vertically Centered Masthead Content</h1>
          <p class="lead">A great starter layout for a landing page</p> -->
        </div>
      </div>
    </div>
  </header>    
    <!-- <div class="container">
      <div class="center">
        <button class="button-71">Shop now</button>
      </div> -->

